{
    "env": {
        "node": true
    },
    "rules": {
        "strict": [2, "global"],
        "no-undef": 2,
        "no-unused-vars": 2,
         "indent": [2, 4, {"SwitchCase": 1}],
        "no-extra-parens": 0,
        "no-multiple-empty-lines": [2, {"max": 1}]
    }
}
